[submodule "hugo-theme-m10c"]
	path = hugo-theme-m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "actively-engaged/public"]
	path = actively-engaged/public
	url = https://github.com/Bradmdav/bradmdav.github.io.git
